<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UCJ-UI Bio-data &dash; ADD MEMBER</title>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>

<body>
<div class="container my-5">

    <br>
    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>
    <br>

    <h3> Add Member</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:action="@{/data/createMember}" th:object="${member}" method="post">
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   id="firstName" placeholder="First Name" required/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   id="lastName" placeholder="Last Name" required/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="gender" class="col-form-label">Gender</label>
                            <select  class="form-control" id="gender" th:field="*{gender}" required>
                                <option th:value="'F'" th:text="Female"></option>
                                <option th:value="'M'" th:text="Male"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="dob" class="col-form-label">Date of Birth</label>
                            <input type="date" th:field="*{dateOfBirth}" class="form-control"
                                   id="dob" placeholder="Date of Birth" required/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="email" th:field="*{email}" class="form-control"
                                   id="email" placeholder="Email Address" required/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="phoneNumber" class="col-form-label">Phone Number</label>
                            <input type="tel" th:field="*{phoneNumber}" class="form-control"
                                   id="phoneNumber" maxlength="11" placeholder="Phone Number" required/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="department" class="col-form-label">Department</label>
                            <input type="tel" th:field="*{department}" class="form-control"
                                   id="department" placeholder="Department" required/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="hall" class="col-form-label">Hall of Residence</label>
                            <select  class="form-control" id="hall" th:field="*{hallOfRecidence}" required>
                                <option th:value="'Abdulsalami Abubakar Hall'" th:text="'Abdulsalami Abubakar Hall'"></option>
                                <option th:value="'Alexandar Brown Hall'" th:text="'Alexandar Brown Hall'"></option>
                                <option th:value="'Independence Hall'" th:text="'Independence Hall'"></option>
                                <option th:value="'Kenneth Mellandy Hall'" th:text="'Kenneth Mellandy Hall'"></option>
                                <option th:value="'Kuti Hall'" th:text="'Kuti Hall'"></option>
                                <option th:value="'Nnamdi Azikwe Hall'" th:text="'Nnamdi Azikwe Hall'"></option>
                                <option th:value="'Obafemi Awolowo Hall'" th:text="'Obafemi Awolowo Hall'"></option>
                                <option th:value="'Queen Elizabeth Hall'" th:text="'Queen Elizabeth Hall'"></option>
                                <option th:value="'Queen Idia Hall'" th:text="'Queen Idia Hall'"></option>
                                <option th:value="'Sultan Bello Hall'" th:text="'Sultan Bello Hall'"></option>
                                <option th:value="'Tafawa Balewa Hall'" th:text="'Tafawa Balewa Hall'"></option>
                                <option th:value="'Tedder Hall'" th:text="'Tedder Hall'"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lpo" class="col-form-label">Local Press Organisation</label>
                            <select  class="form-control" id="lpo" th:field="*{lpo}" required>
                                <option th:value="'PRESS'" th:text="Press"></option>
                                <option th:value="'READER'" th:text="Reader"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="year" class="col-form-label">Year of induction</label>
                            <input type="date" th:field="*{yearOfInduction}" class="form-control"
                                   id="year" placeholder="Year of Induction" required/>
                        </div>


                        <div class="col-md-6">
                            <input type="submit" class="btn btn-primary" value=" Submit ">
                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>

</html>