<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UCJ-UI Bio-data &dash; MEMBER'S DETAIL</title>
    <th:block th:include="fragments/header :: head"> </th:block>
</head>

<body>
<div class="container my-5">

    <br>
    <nav>  <th:block th:replace="fragments/nav :: nav"></th:block>   </nav>
    <br>

    <h3> Member's Details</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-10">
                <form action="#" th:object="${member}" >
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="firstName" class="col-form-label">First Name</label>
                            <input type="text" th:field="*{firstName}" class="form-control"
                                   id="firstName" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lastName" class="col-form-label">Last Name</label>
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   id="lastName" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="gender" class="col-form-label">Gender</label>
                            <input type="text" th:field="*{lastName}" class="form-control"
                                   id="gender" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="dob" class="col-form-label">Date of Birth</label>
                            <input type="date" th:field="*{dateOfBirth}" class="form-control"
                                   id="dob" placeholder="Date of Birth" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="email" class="col-form-label">Email</label>
                            <input type="text" th:field="*{email}" class="form-control"
                                   id="email" readonly/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="phoneNumber" class="col-form-label">Phone Number</label>
                            <input type="text" th:field="*{phoneNumber}" class="form-control"
                                   id="phoneNumber" readonly/>
                        </div>

                        <div class="form-group col-md-8">
                            <label for="department" class="col-form-label">Department</label>
                            <input type="text" th:field="*{department}" class="form-control"
                                   id="department" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="hall" class="col-form-label">Hall of Residence</label>
                            <input type="text" th:field="*{hallOfRecidence}" class="form-control"
                                   id="hall" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="lpo" class="col-form-label">Local Press Organisation</label>
                            <input type="text" th:field="*{hallOfRecidence}" class="form-control"
                                   id="lpo" readonly/>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="year" class="col-form-label">Year of induction</label>
                            <input type="date" th:field="*{yearOfInduction}" class="form-control"
                                   id="year" readonly/>
                        </div>


                        <div class="col-md-6">
                            <a th:href="@{/data/all/}" >
                                <input type="button" class="btn btn-primary" value=" Back ">
                            </a>
                            <a th:href="@{/data/edit/{id}(id=${member.id})}" >
                                <input type="button" class="btn btn-primary" value=" Edit ">
                            </a>

                        </div>

                        <input type="hidden" id="id" th:field="*{id}">

                    </div>
                </form>
            </div>
        </div>
    </div>

    <footer>
        <th:block th:include="fragments/footer :: footer"></th:block>
    </footer>
</div>
</body>

</html>